.formButton {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    border-radius: 12px;
    font-size: 15px;
}
.formInput {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    border-radius: 12px;
    font-size: 15px;
}

.eventCard:first-child {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    
    font-weight: bold;
    font-size: larger;
    border: 3pt solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chat-container {
    float: right;
    padding: 5px 10px 25px 25px;
    border: 1px solid black;
    justify-content: flex-end;
    margin-bottom: 25px;
    margin-top: 50%;
    border-radius: 5px;
     
}

.message-card{
    display: flex;
    justify-content: space-between;
    margin: 10px auto 10px auto;
    

    
}

.chat-list {
    display: flex;
    flex-flow: column-reverse;
    margin-top: auto;
    padding-bottom: 10px;
    height: 275px;
    width: auto;
    overflow-y: auto;
}


.chat-form, .edit-chat-container{
    display: flex;
    margin-top: 10px;
    
}
.chat-text, .message-text, .edit-chat-text {
    margin-right: 10px; 
    border-radius: 5px;
    width: 20vw;
    
}
.message-edit{
    margin-bottom: 10px;
    padding-right: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px white;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px black;
    border: solid 3px transparent;
}

.completedCSS{
    display: flex;
    gap: 10px;
}

.dashboard{
    display: flex;
   height: 100%;
   width: 98vw;
    
}

.news-container{
   
}

.logOutButton{
    display: flex;
    justify-content: flex-end;
}

.event-container, .news-container, .task-container{
    margin: 25px;
    border: 1px solid black;
    width: 25%;
    padding: 15px;
    height: 700px;
    overflow-y: auto;
}
.eventCard, .newsCard, .taskTag{
    padding: 15px 10px 15px 10px,

}

@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	
	color: black;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin: 2px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", sans-serif;
  letter-spacing: 2px;
  margin: 25px 0;
}

.btn-primary{
    margin-bottom: 25px;
}

.hide{
    display: none;
}

body{
    opacity: 0.75;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/El_Toro_Loco_Monster_Truck_Snorting_Smoke.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}

