
/* 
.auth {
    display: flex;
    flex-flow: column;
    font-family: sans-serif;
    font-size: 24px;
    width: 350px;
    height: 250px;
    justify-content: center;
    float:right;

}

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    
}

.auth--register{
display: flex;
justify-content: center;
margin-top: 25px;
;} */

.formButton {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    border-radius: 12px;
    font-size: 15px;
}
.formInput {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    border-radius: 12px;
    font-size: 15px;
}

.eventCard:first-child {
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    
    font-weight: bold;
    font-size: larger;
    border: 3pt solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.chat-container {
    float: right;
    padding: 5px 10px 25px 25px;
    border: 1px solid black;
    /* justify-content: flex-end; */
    margin-bottom: 25px;
    margin-top: 50%;
    border-radius: 5px;
    background-color: rgb(68, 70, 70, 0.5);
     
}

.message-card{
    display: flex;
    justify-content: space-between;
    margin: 10px auto 10px auto;
    

    
}

.chat-list {
    display: flex;
    flex-flow: column-reverse;
    margin-top: auto;
    padding-bottom: 10px;
    height: 275px;
    width: auto;
    overflow-y: auto;
}


.chat-form, .edit-chat-container{
    display: flex;
    margin-top: 10px;
    
}
.chat-text, .message-text, .edit-chat-text {
    margin-right: 10px; 
    border-radius: 5px;
    width: 20vw;
    
}
.message-edit{
    margin-bottom: 10px;
    padding-right: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px white;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px black;
    border: solid 3px transparent;
}

.completedCSS{
    display: flex;
    gap: 10px;
} 


.lobody {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif
}

.login-box {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(https://cdn.monsterjam.com/styles/jumbotron_large/s3/legacy_monster_jam/ElToroLocoOrange16_04.jpg?itok=OUETDEKB) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.login-snip {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(99, 102, 102, 0.9)
}

.login-snip .login,
.login-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check {
    display: none
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button {
    text-transform: uppercase
}

.login-snip .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee
}

.login-space {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.login-space .group {
    margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button {
    width: 100%;
    color: #fff;
    display: block
}

.login-space .group .input,
.login-space .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.login-space .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle
}

.login-space .group .label {
    color: #aaa;
    font-size: 12px
}

.dashboard{
    display: flex;
   height: 100%;
   width: 98vw;
    
}



.eventCard, .newsCard, .taskTag{
    padding: 15px 10px 15px 10px,

}

@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select, .event-container, .news-container, .task-container, .chat-container,
textarea {
	
	color: black;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", sans-serif;
  letter-spacing: 2px;
  margin: 25px 0;
}

.btn-primary{
    margin-bottom: 25px;
}

.hide{
    display: none;
}

.login-space .group .button {
    background: #1161ee
}

.login-space .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.login-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.login-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0)
}

.login-space .group .check:checked+label {
    color: #fff
}

.login-space .group .check:checked+label .icon {
    background: #1161ee
}

.login-space .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg)
}

.login-space .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg)
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login {
    transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form {
    transform: rotate(0)
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2)
}

.foot {
    text-align: center
}

.card {
    width: 500px;
    left: 100px
}

::placeholder {
    color: #b3b3b3
}

.headerCSS{
    display: flex;
    justify-content: space-between;
    
}

.logOutButton{
 margin-right: 10px;
 margin-top: 10px;
}


/* body{
    opacity: 0.75;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/El_Toro_Loco_Monster_Truck_Snorting_Smoke.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

body {
    position: relative;
    z-index: 1;
    
    
  }
  
body:before {
    content: " ";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 110%;  
    opacity: .4; 
    z-index: -1;
    background: url("https://upload.wikimedia.org/wikipedia/commons/c/c5/El_Toro_Loco_Monster_Truck_Snorting_Smoke.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  
.event-container, .news-container, .task-container{
    margin: 25px;
    border: 1px solid black;
    width: 25%;
    padding: 15px;
    height: 700px;
    overflow-y: auto;
    background-color: rgb(68, 70, 70, 0.5);
    
    
}

.header-image:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }